:root {
    --main-backround-color: #fff;
    --secondary-backround-color: #f5f4fa;
    --hero-footer-backround-color: #2f303a;

    --header-text-color: #212121;
    --main-text-color: #757575;

    --accent-color: #2196f3;
}

body {
    background-color: var(--main-backround-color);
    color: var(--main-text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
}

.link-decor {
    text-decoration: none;
}

.logo-link {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.header-link {
    color: #000;
}

.footer-link {
    color: #fff;
}

.logo-accent {
    color: var(--accent-color);
}

.nav-link {
    color: var(--header-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-link {
    color: var(--main-text-color);
    font-weight: 500;

    /* Необходимо для снятия italic от тега address */
    font-style: normal;
    
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.geo-link {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.geo-link:hover,
.geo-link:focus {
    color: var(--accent-color);
}

.footer {
    background-color: var(--hero-footer-backround-color);
}